.footer-container {
  padding: 10px 40px;
  background-color: white;
  /* position: absolute; */
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Inria Serif", serif;
}

.absolute-footer-container {
  padding: 10px 40px;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-content {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-year {
  font-weight: 100;
  font-size: 12px;
  padding-top: 20px;
}

.footer-contacts {
  background-color: #f3f1f2;
  padding: 5px;
  font-size: 18px;
  text-decoration: none;
  border: 1px solid #d4937f;
  color: rgb(83, 77, 77);
}

.footer-contacts:hover {
  opacity: 0.9;
  transform: scale(0.98);
}

.footer-logo {
  font-size: 18px;
}
