.product-detail-container {
    display: flex;
    gap: 70px;
    margin: 70px;
    /* meter height so para o ecra */
}

.product-detail-image {
    min-width: 600px;
    max-width: 600px;
    min-height: 635px;
    max-height: 635px;
    padding: 10px;
    background-color: white;
}

.product-detail-back {
    font-family: 'Roboto', sans-serif;
}

.product-detail-category {
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
    margin: 20px 0 10px;
    text-transform: uppercase;
}

.product-detail-title {
    font-family: "Prata", serif;
    font-weight: normal;
}

.product-detail-price {
    margin-top: 20px;
    font-size: 36px;
    font-weight: 500;
    color: #d4937f;
}

.product-detail-description {
    margin: 80px 0;
    font-size: 20px;
    line-height: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.product-detail-cart {
    display: flex;
    gap: 10px;
    align-items: center;
}