.profile-container {
  display: flex;
  flex-direction: column;
  margin-top: 105px;
  background-color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  min-width: 500px;
  max-height: 80%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Inria Serif", serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-title {
  background: linear-gradient(94.99deg, #91816a -3.88%, #ccb39e 120.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: "Inria Serif", serif;
  font-size: 25px;
}

.profile-name {
  font-weight: 400;
  color: rgb(114, 108, 108);
}

.profile-picture {
  border-radius: 50%;
  max-height: 450px;
  border: 1px solid rgb(182, 178, 178);

}

.profile-email {
  padding: 6px;
  background-color: rgb(226, 220, 220);
  border: 1px solid grey;
}

.profile-date {
  font-weight: 400;
  border-bottom: 1px solid #201d1e;
  color: rgb(114, 108, 108)
}
